Tomcat systemd file
===================

$ vim /etc/systemd/system/tomcat.service

[Unit]
Description=Apache Tomcat Web Application Container
After=network.target

[Service]
Type=forking

Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
Environment=CATALINA_PID=/home/ubuntu/distros/tomcat/apache-tomcat-8.5.57/temp/tomcat.pid
Environment=CATALINA_HOME=/home/ubuntu/distros/tomcat/apache-tomcat-8.5.57
Environment=CATALINA_BASE=/home/ubuntu/distros/tomcat/apache-tomcat-8.5.57
Environment='CATALINA_OPTS=-Xms512M -Xmx1024M -server -XX:+UseParallelGC'
Environment='JAVA_OPTS=-Djava.awt.headless=true -Djava.security.egd=file:/dev/./urandom'

ExecStart=/home/ubuntu/distros/tomcat/apache-tomcat-8.5.57/bin/startup.sh
ExecStop=/home/ubuntu/distros/tomcat/apache-tomcat-8.5.57/bin/shutdown.sh

User=root
Group=root
#UMask=0007
#RestartSec=10
#Restart=always

[Install]
WantedBy=multi-user.target


When you are finished, save and close the file.

Next, reload the systemd daemon so that it knows about our service file:

$ sudo systemctl daemon-reload

Start the Tomcat service by typing:

$ sudo systemctl start tomcat

Double check that it started without errors by typing:

$ sudo systemctl status tomcat


Reference link:- https://www.digitalocean.com/community/tutorials/how-to-install-apache-tomcat-8-on-ubuntu-16-04
